:root {
    --body-color: #19191B;
    --rectangle-border-color: #C09F28;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background: radial-gradient(41.65% 41.65% at 50% 50%, #363639 0%, var(--body-color) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-top: 52px;
}

main {
    margin-top: 75px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    height: 190px;
    width: 220px;
    border-radius: 20px;
    background-color: var(--body-color);
    box-shadow: -4px -4px 8px 0 rgb(255, 255, 255, 14%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.card p {
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    line-height: 32px;
}

.card img{
    height: 48px;
}